.login-data{
	margin:140px auto;
	color: #fff;
	width: 300px;
	background-color: #689e02;
	border-radius: 2px;
	padding: 7px 30px;
	height: 340px;
}
.app-label{
	*font-weight: bold;
	margin-top:5px;
}
.login-btn{
	margin:10px 0;
}
#error-text{
*font-weight: bold;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td{
	border-top:none;
}
.wlink{
	color:#fff;
	float:right;
	font-size:12px;
}
.btn-green{
background: #679b08;
border: 0;
border-bottom: 3px solid #470;
color: #fff!important;
display: inline-block;
height: auto;
line-height: 1em;
font-size: 14px;
padding: 5px 10px;
margin-top: 3px;
cursor: pointer;
text-decoration: none;
}
.app-header{
	background-color:#333333;
	max-height: 50px;
	border-bottom: 2px solid #71614C;
	padding: 5px;
	color:#aaa;
}
.app-container{
	background-color: #eee;
	min-height: 500px;
}
.app-footer{
	background-color:#333333;
	height: 100px;
	color: #aaa;
	padding: 20px 0;
}
.navbar{
	margin-bottom: 0 !important;
}
.centered{
	font-weight: bold;
	color: #aaa;
}