html,body{
	height: 100%;
	margin: 0;
	padding:0;
}
.login-data{
	margin:140px auto;
	color: #fff;
	width: 300px;
	background-color: #470;
	border-radius: 2px;
	padding: 7px 30px;
	height: 340px;
}
.app-label{
	margin-top:5px;
}
.login-btn{
	margin:10px 0;
}
.wlink{
	color:#fff;
	float:right;
	font-size:12px;
}
.wlink:hover{
	color: #fff;
	text-decoration: none;
}
.btn-green{
background: #679b08;
border: 0;
border-bottom: 3px solid #470;
color: #fff!important;
display: inline-block;
height: auto;
line-height: 1em;
font-size: 14px;
padding: 5px 10px;
margin-top: 3px;
cursor: pointer;
text-decoration: none;
}
.app-header{
	background-color:#333333;
	max-height: 50px;
	border-bottom: 2px solid #71614C;
	padding: 5px;
	color:#aaa;
}
.app-container{
	background-color: #eee;
	min-height: 500px;
}
.app-footer{
	background-color:#333333;
	padding: 15px 0px;
	text-align: center;
	border-top: 4px solid #575757;
	color: #aaa;
	position: absolute;
	bottom: 0;
	width: 100%;	
}
.navbar{
	margin-bottom: 0 !important;
	border-radius: 0px !important;
	border-bottom: 5px solid #470;
}
.centered{
	font-weight: bold;
	color: #aaa;
}
.wrapper {
position: relative;
min-height: 100%;
}
.body-content {
padding-top: 15px;
padding-bottom: 70px;
height: auto;
}
.body-container-row {
margin: 0;
}
.sidebar-menus{
	margin-top: 20px;
}
.sidebar-menus ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #dedede;
}
.sidebar-menus ul li{
	position: relative;
}
.sidebar-menus ul li a{
	color: #333;
	display: block;
	line-height: 35px;
	padding-left: 10px;
	font-size: 13px;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.sidebar-menus ul li a:hover,
.sidebar-menus ul li a:focus,
.sidebar-menus ul li.current a{
	color: #fff !important;
	background-color: #470;
	font-size: 12px;
	font-weight: bold;
	border-bottom: #2D4D02 2px solid;
	text-decoration: none;
	outline: none;
}
.sidebar-menus i {
	padding-right: 10px;
	font-size: 20px;
}
.content {
min-height: 100%;
}
.data-container{
	margin-top: 18px;
	border:1px solid #470;
	color: #fff;
	padding:0;
}
.row{
	margin: 0;
}
.data-container .header{
	padding:10px;
	background-color: #470 !important;
}
.data-container .body{
	color: #333;
	padding:10px;
}
.menu-btn-green{
background: #679b08;
border: none;
border-bottom: 2px solid #2D4907 ;
 color: #fff!important;
display: inline-block;
height: auto;
line-height: 1em;
font-size: 14px;
padding: 5px 10px;
margin-top: 3px;
cursor: pointer;
text-decoration: none;
}
.command{
	display: inline-block;
	margin-right: 6px;
}
.none{
	display: none !important;
}
.app-row{
	margin-bottom: 5px;
}
.tiny{
	font-size: 11px;
	color:#3c763d;
	padding: 3px;
}
.tiny:hover{
	color:#3c763d;
}
.body .form-header{
	padding: 10px;
	background-color: #470 !important;
	color: #fff;
	margin-bottom: 5px;
}
.alert{
	padding: 10px 15px !important;
	border-radius: none;
}
.tiny-error-message{
	color: #A30D00;
	font-size: 12px !important;
	padding: 0px 5px;
}
.error-border{
	border: 1px solid #A30D00;
}
.padding-0{
	padding: 0px !important;
}
.current-item{
padding: 5px 15px;
background-color: #470;
color: #fff;
border: 1px solid #470;
border-bottom: #2D4907 3px solid;
}
.processed{
padding: 5px 15px;
background: transparent;
color: #5A5858;
height: 50px;
border-radius: 25px;
width: 50px;
position: relative;
border: 1px solid #D2D5CF;
 }
.checked{
	color:#470;
	position:absolute;
	top: 15px;
	right: 15px;
}


.chosen-choices{
	padding: 4px 12px;
}

/*OverWrite Choosen*/
.chosen-container-active .chosen-single {
  border: 1px solid #A3D15E !important;
  box-shadow: 0 0 5px rgba(163, 209, 94, 0.3) !important;
  background-image: none !important;
  background-color: #F6FAF0 !important;
  height: 35px !important;
  /*margin-bottom: 9px;*/
}
.chosen-container-single .chosen-single{
	background-image: none !important;
	background-color: #F6FAF0 !important;
	height: 35px !important;
}
.chosen-single{
	line-height: 34px !important;
	font-size: 14px !important;
}
.chosen-container-single .chosen-default {
	color: #999 !important;
}
.chosen-container-multi .chosen-choices li.search-choice{
	margin: 6px 0 3px 5px !important;
	font-size: 14px !important;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #A3D15E !important;
  box-shadow: 0 0 5px rgba(163, 209, 94, 0.3) !important;
  background-image: none !important;
  background-color: #F6FAF0 !important;
}
.chosen-container-multi .chosen-choices li.search-choice{
	border: 1px solid #A3D15E !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	height: 30px !important;
	font-family: "Proxima Nova";
}
.chosen-default,
.chosen-single{
	border:1px solid #cccccc !important;
}
.chosen-choices{
	border-radius: 5px;
}
.chosen-container-multi .chosen-choices{
	background-image: none !important;
  	background-color: #F6FAF0 !important;
  	border: 1px solid #cccccc !important;
}
.chosen-container .chosen-results li.highlighted{
	background-color: #D7ECB9 !important;
	background-image: none !important;
	color: #000 !important;
}
.chosen-container .chosen-drop{
	border: 1px solid #A3D15E !important;
  	box-shadow: 0 0 5px rgba(163, 209, 94, 0.3) !important;
}
.chosen-container{
	width:100% !important;
}
.chosen-container-single .chosen-single div b {
	background: url('../images/chosen-sprite.png') no-repeat 0px 7px !important;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 7px !important;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-primary{
	color: #fff !important;
background-color: #679b08 !important;
border-color: #470 !important;
}
.wrap{
width: 100%;
max-height: 500px !important;
margin: 10px auto;
padding: 10px 15px;
background: white;
border: 2px solid #DBDBDB;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align: center;
overflow: hidden;
}
 .app-modal-header{
	background: #679B08;
	padding: 5px 15px;
}
.app-modal-title{
	color: #fff;
}