html.body{
	height: 100%;
	margin: 0;
	padding:0;
}
.login-data{
	margin:140px auto;
	color: #fff;
	width: 300px;
	background-color: #689e02;
	border-radius: 2px;
	padding: 7px 30px;
	height: 340px;
}
.app-label{
	margin-top:5px;
}
.login-btn{
	margin:10px 0;
}
.wlink{
	color:#fff;
	float:right;
	font-size:12px;
}
.btn-green{
background: #679b08;
border: 0;
border-bottom: 3px solid #470;
color: #fff!important;
display: inline-block;
height: auto;
line-height: 1em;
font-size: 14px;
padding: 5px 10px;
margin-top: 3px;
cursor: pointer;
text-decoration: none;
}
.app-header{
	background-color:#333333;
	max-height: 50px;
	border-bottom: 2px solid #71614C;
	padding: 5px;
	color:#aaa;
}
.app-container{
	background-color: #eee;
	min-height: 500px;
}
.app-footer{
	background-color:#333333;
	padding: 19px 0;
	text-align: center;
	border-top: 4px solid #575757;
	color: #aaa;	
}
.navbar{
	margin-bottom: 0 !important;
	border-radius: 0px !important;
	border-bottom: 5px solid #470;
}
.centered{
	font-weight: bold;
	color: #aaa;
}
.wrapper {
position: relative;
min-height: 100%;
}
.body-content {
padding-top: 15px;
padding-bottom: 70px;
height: auto;
}
.body-container-row {
margin: 0;
}
.sidebar-menus{
	margin-top: 20px;
}
.sidebar-menus ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #dedede;
}
.sidebar-menus ul li{
	border-top: 1px solid #dedede;
	position: relative;
}
.sidebar-menus ul li a{
	color: #333;
	display: block;
	line-height: 40px;
	padding-left: 10px;
	font-size: 13px;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.sidebar-menus ul li a:hover,
.sidebar-menus ul li a:focus,
.sidebar-menus ul li.current a{
	color: #fff !important;
	font-weight: bold;
	background-color: #470;
	border-bottom: #2D4D02 2px solid;
	text-decoration: none;
	outline: none;
}
.sidebar-menus ul li a:active{
	color: #470 !important;
}
.sidebar-menus i {
	padding-right: 10px;
	font-size: 20px;
}
.content {
min-height: 100%;
}
.data-container{
	margin-top: 18px;
	border:1px solid #470;
	color: #fff;
	padding:0;
}
.row{
	margin: 0;
}
.data-container .header{
	padding:10px;
	background-color: #470 !important;


}
.data-container .body{
	color: #333;
	padding:10px;
	min-height: 500px;
}
.menu-btn-green{
background: #679b08;
border: none;
border-bottom: 2px solid #2D4907 ;
 color: #fff!important;
display: inline-block;
height: auto;
line-height: 1em;
font-size: 14px;
padding: 5px 10px;
margin-top: 3px;
cursor: pointer;
text-decoration: none;
}
.command{
	display: inline-block;
	*float: left;
	margin-right: 6px;
}
.none{
	display: none !important;
}
.app-row{
	margin-bottom: 5px;
}
.tiny{
	font-size: 11px;
	color:#3c763d;
	padding: 3px;
}
.tiny:hover{
	color:#3c763d;
}